:root {
    --clr-primary-400: hsl(333, 80%, 67%);
    --clr-primary-700: hsl(300, 43%, 22%);

    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-neutral-200: hsl(300, 24%, 96%);
    --clr-neutral-500: hsl(303, 10%, 53%);

    --ff-primary: 'League Spartan';

    --fw-normal: 400;
    --fw-medium: 500;
    --fw-bold: 700;

    --fs-300: 15px;
    --fs-400: 17px;
    --fs-600: 40px;

    --fs-body: var(--fs-300);
    --fs-heading: var(--fs-600);
    --fs-title: var(--fs-400);
}

/* utility classes */
.text-align-center {
    text-align: center;
}

.flex-group {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.margin-top {
    margin-top: 1.3rem;
}
/* general styling */
body {
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    font-weight: var(--fw-normal);
    color: var(--clr-primary-700);
}

main {
    padding: 2rem 1rem;
}

@media (width > 63rem) {
    main {
        padding: 0;
        height: 100vh;
        display: grid;
        place-items: center;
    }
}

.product-review-container {
    display: grid;
    gap: 3rem;
    position: relative;
    max-width: 63rem;
    margin: auto;
}

.columns {
    display: grid;
    gap: 3rem;
    text-align: center;
}

.rating__item span {
    display: block;
    display: flex;
    justify-content: center;
    gap: .5rem;
}

@media (width > 63rem) {
    .columns {
        gap: 15rem;
        grid-auto-flow: column;
        grid-template-columns: 1fr 1fr;
    }

    .columns > *:first-child {
        text-align: left;
    }

    .rating__item {
        display: flex;
    }

    .rating__item:nth-child(1) {
        position: relative;
        right: 4rem;
    }

    .rating__item:nth-child(2) {
        position: relative;
        right: 2rem;
    }

    .margin-left {
        margin-left: 1rem;
    }
}
.product-review-container::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    height: 360px;
    width: 360px;
    background-image: url('/images/bg-pattern-top-mobile.svg');
    /* background-color: red; */
    background-repeat: no-repeat;
}

.product-review-container::after {
    content: "";
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: -1;
    height: 360px;
    width: 360px;
    background-image: url('/images/bg-pattern-bottom-mobile.svg');
    /* background-color: red; */
    background-repeat: no-repeat;
}

.section-heading {
    font-size: var(--fs-heading);
    font-weight: var(--fw-bold);
    line-height: 1;
}

@media (width > 63rem) {
    .section-heading {
        width: 15ch;
    }
}

.product__rating {
    display: grid;
    gap: 1rem;
    align-items: center;
}

.rating__item {
    font-weight: var(--fw-bold);
    color: var(--clr-primary-700);
    background-color: var(--clr-neutral-200);
    padding: .8rem;
    border-radius: 8px;
}

@media (width > 63rem) {
    .product-review-container::before {
        height: 800px;
        width:  800x;
        top: -156px;
        left: 199px;
        background-image: url('/images/bg-pattern-top-desktop.svg');
    }
    
    .product-review-container::after {
        height: 800px;
        width: 800px;
        bottom: -128px;
        background-image: url('/images/bg-pattern-bottom-desktop.svg');
    }
}

.product__review {
    display: grid;
    gap: 1rem;
}

@media (width > 63rem) {
    .product__review {
        grid-auto-flow: column;
    }
}

.reviewer__card {
    background-color: var(--clr-primary-700);
    color: var(--clr-neutral-100);
    border-radius: 8px;
    padding: 1.5rem;
}

@media (width > 63rem) {
    .reviewer__card:nth-child(2) {
        position: relative;
        top: 1rem;
    }

    .reviewer__card:nth-child(3) {
        position: relative;
        top: 2rem;
    }
}

.flex-group div {
    line-height: 1;
}

.reviewer__image {
    height: 3rem;
    aspect-ratio: 1;
    border-radius: 50%;
}

.reviewer__status {
    color: var(--clr-primary-400);
    margin-top: .1rem;
}